:root{
    --numCelle: 10;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}


main{
    background-color: lightgreen;
    height: calc(100vh - 10vh);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 5vh;
    text-align: center;
    padding: 20px ;
}

/* griglia */

.griglia{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.item{
    border: 1px solid black;
    width: calc(100% / var(--numCelle));
    height: calc(100% / var(--numCelle));
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked{
    background-color: lightblue;
}